html{
    box-sizing:border-box;
    font-family: sans-serif;
}

h1{
    text-align: center;
}

.img{
    display: block;
    width:50%;
}

.card1{
    overflow:hidden;
    border: 2px solid #ccc;
 
}

.card1body{
    padding: .2rem 1rem;
}

.label1{
    padding: .3rem 1rem .3rem (calc(1rem - 4px);
    border-left: 4px solid green;
    background-color: rgba(255, 255, 255, .6);    
}

.head{
    position: relative;
}

.title1{
    margin:0;
    padding: .3rem 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%
}

.all-cards{
    display: flex;
    justify-content: center;
    flex-direction: column;
}