@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#style{ 
    font-family: 'Roboto', sans-serif;
  font-style: italic; 
  font-weight: bold;
}
#colors{
   color:chartreuse 
}
#fonts{
 font-size: larger;   
}

#right{
    text-align: right;
}
#center{
    text-align: center;
    color: brown;
    font-weight: bold;
}