.grid-container {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    column-gap: 10px;
    row-gap: 40px;
    grid-template-rows: 1 2 3 150px;
}

span {
    border: 1px solid palegoldenrod;
}