#sign-in{
    border: 2px solid hsl(204, 100%, 50%);
    width: 100px;
    background-color: transparent;
    text-align: center;
    color: hsl(204, 100%, 50%);
    /* border-radius: 6%; */
    border-top-right-radius: 40%;
}

#continue{
background-color: rgb(52,125,57);
color: white;
border-radius: 5px;
border: none;
width: 150px;
font-size: smaller;
}

#subscribe{
    background-color: rgb(44,32,61);
    color:white;
    border:2px solid white;
    height:30px;
    font-family: 'Genos', sans-serif;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;

}